*.o
*.so
*.dat
*.log
*.csv
*.tsv
*.pdf
*.xlsx

test
server
cct_tool
client_go
client_cpp
cubin_tool
pprof_tool
crc_calculator
profiler_debug

/logs/
*/data/
*/.data/
/.vscode/
/figures/
/cu_samples/
/.ipynb_checkpoints/

*.S
*.gz
*.pt
*.tar
*.out
*.png
core.*
*.ipynb
*.cubin
